@import "tailwindcss";
* {
  backface-visibility: hidden;
  transform: translateZ(0);
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}
main {
  padding-top: 80px;
}

/* Infinite horizontal scroll */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

/* Animated Gradient Background */
.animated-bg {
  background: linear-gradient(
    -45deg,
    #020617,
    #020617,
    #0f172a,
    #020617,
    #020617
  );
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.inputStyle {
  @apply w-full mb-4 p-3 rounded-lg bg-white/10 border border-white/20 outline-none focus:border-cyan-400;
}

.formHeading {
  @apply text-xl font-semibold mb-4 text-cyan-400;
}


